body {
    font-family: Arial, sans-serif;
    background-color: #00426a;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #00426a;
    padding: 20px;
    border-radius: 50px;
}

    .container h2 {
        text-align: center;
        color: white;
        font-size:55px;
    }

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: white;
    font-size:18px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    width: 370px;
    padding: 13px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #00426a;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
}


.error-message {
    color: red;
    text-align: center;
    font-size: 14px;
}

.success-message {
    color: green;
    text-align: center;
    font-size: 14px;
}
